<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <meta name="theme-color" content="#0f0d0b" />
    {{ghost_head}}
</head>
<body class="kg-width-wide kg-width-full">
    <div class="min-h-screen bg-[#0E0D0B] text-white flex flex-col relative">
        <div class="backdrop-filter border-b-2 border-white border-opacity-10 backdrop-blur-[56px] z-10  sticky top-0 bg-opacity-10">
            <header class="flex relative z-50 items-center py-4 container max-w-[1400px]">
                <div class="flex-1">
                    <a
                        class="gh-head-logo"
                        {{#if @custom.homepage_url}}
                            href="{{@custom.homepage_url}}"
                        {{else}}
                            href="{{@site.url}}"
                        {{/if}}
                    >
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}">
                        {{else}}
                            {{@site.title}}
                        {{/if}}
                    </a>
                </div>
                <div class="content-center justify-center flex-1 hidden gap-5 font-semibold lg:flex opacity-60">
                    {{navigation}}
                    {{!-- <a aria-label="home" class="px-3 py-2" href="/">
                        Home
                    </a>
                    <a aria-label="guides & faq" class="px-3 py-2" href="/">
                        Guides & FAQ
                    </a>
                    <a aria-label="blog" class="px-3 py-2 !opacity-100" href="/">
                        Blog
                    </a> --}}
                </div>
                <div class="flex items-center justify-end flex-1 gap-2">
                    {{search}}
                    <button aria-label="twitter" class="hidden lg:flex justify-center items-center w-10 h-10 rounded-xl border bg-[#14151A] text-white border-white border-opacity-20">
                        <a href="https://twitter.com/StroomNetwork" target="_blank">
                            <svg class="w-5 h-5 icon">
                                {{> "icons/x"}}
                            </svg>
                        </a>
                    </button>
                    <div class="hidden lg:block gh-head-members">
                        {{#unless @member}}
                            {{#unless @site.members_invite_only}}
                                <button class="flex rounded-2xl bg-[#FFCF24] items-center gap-1 text-[#0B0C0E] py-[8px] px-4" href="#/portal/signup"  data-portal="signup">
                                        Sign up
                                    <svg class="flex items-center icon">
                                        {{> "icons/arrow-right"}}
                                    </svg>
                                </button>
                            {{else}}
                                <button class="flex rounded-2xl bg-[#FFCF24] items-center gap-1 text-[#0B0C0E] py-[8px] px-4" href="#/portal/signin"  data-portal="signin">
                                    Sign in
                                    <svg class="flex items-center icon">
                                        {{> "icons/arrow-right"}}
                                    </svg>
                                </button>
                            {{/unless}}
                        {{else}}
                            <button class="flex rounded-2xl bg-[#FFCF24] items-center gap-1 text-[#0B0C0E] py-[8px] px-4" data-portal="account">
                                Account
                            </button>
                        {{/unless}}
                    </div>
                    <button class="block menu lg:hidden">
                        <svg class="w-7 h-7 icon open">
                            {{> "icons/burger"}}
                        </svg>
                    </button>
            </div>
            <div class="fixed flex-col open-menu hidden justify-center items-center inset-0 h-screen bg-[#0E0D0B]">
                <header class="flex self-stretch relative z-50 items-center py-4 container max-w-[1400px]">
                    <div class="flex-1">
                        <a
                            class="gh-head-logo"
                            {{#if @custom.homepage_url}}
                                href="{{@custom.homepage_url}}"
                            {{else}}
                                href="{{@site.url}}"
                            {{/if}}
                        >
                            {{#if @site.logo}}
                                <img src="{{@site.logo}}" alt="{{@site.title}}">
                            {{else}}
                                {{@site.title}}
                            {{/if}}
                        </a>
                    </div>
                    <div class="content-center justify-center flex-1 hidden gap-5 font-semibold lg:flex opacity-60">
                        {{navigation}}
                    </div>
                    <div class="flex items-center justify-end flex-1 gap-2">
                        {{search}}
                        <button aria-label="twitter" class="hidden lg:flex justify-center items-center w-10 h-10 rounded-xl border bg-[#14151A] text-white border-white border-opacity-20">
                            <a href="https://twitter.com/StroomNetwork" target="_blank">
                                <svg class="w-5 h-5 icon">
                                    {{> "icons/x"}}
                                </svg>
                            </a>
                        </button>
                        <div class="hidden lg:block gh-head-members">
                            {{#unless @member}}
                                {{#unless @site.members_invite_only}}
                                    <button class="flex rounded-2xl bg-[#FFCF24] items-center gap-1 text-[#0B0C0E] py-[8px] px-4" href="#/portal/signup"  data-portal="signup">
                                        Sign up
                                        <svg class="flex items-center icon">
                                            {{> "icons/arrow-right"}}
                                        </svg>
                                    </button>
                                {{else}}
                                    <button class="flex rounded-2xl bg-[#FFCF24] items-center gap-1 text-[#0B0C0E] py-[8px] px-4" href="#/portal/signin"  data-portal="signin">
                                        Sign in
                                        <svg class="flex items-center icon">
                                            {{> "icons/arrow-right"}}
                                        </svg>
                                    </button>
                                {{/unless}}
                            {{else}}
                                <button class="flex rounded-2xl bg-[#FFCF24] items-center gap-1 text-[#0B0C0E] py-[8px] px-4" data-portal="account">
                                    Account
                                </button>
                            {{/unless}}
                        </div>
                        <button class="block menu lg:hidden">
                            <svg class="w-7 h-7 icon close">
                                {{> "icons/close"}}
                            </svg>
                        </button>
                    </div>
                </header>
                <div class="flex items-center flex-1 text-4xl font-semibold text-white nav-sm">
                    {{navigation}}
                </div>
                <div class="w-full mt-auto">
                    <div class="m-4">
                    {{#unless @member}}
                        {{#unless @site.members_invite_only}}
                            <button class="flex rounded-full font-semibold w-full justify-center text-2xl bg-[#FFCF24] items-center gap-1 text-[#0B0C0E] py-[8px] px-4" href="#/portal/signup"  data-portal="signup">
                                Sign up
                            </button>
                        {{else}}
                            <button class="flex rounded-full font-semibold w-full justify-center text-2xl bg-[#FFCF24] items-center gap-1 text-[#0B0C0E] py-[8px] px-4" href="#/portal/signin"  data-portal="signin">
                                Sign in
                            </button>
                        {{/unless}}
                    {{else}}
                        <button class="flex rounded-full font-semibold w-full justify-center text-2xl bg-[#FFCF24] items-center gap-1 text-[#0B0C0E] py-[8px] px-4" data-portal="account">
                            Account
                        </button>
                    {{/unless}}
                    </div>
                </div>
            </div>
            </header>
        </div>
        <main class="flex-1">
            {{{body}}}
        </main>
        <footer class="mt-24">
            <div class="bg-[#171512]">
                <div class="flex flex-col gap-12 md:flex-row items-center py-10 container max-w-[1250px]">
                    <div class="flex-1">
                        <svg class="icon text-[#FFCF24] h-[20px] w-[112px]">
                            {{> "icons/logo"}}
                        </svg>
                    </div>
                    <div class="flex content-center justify-center flex-1 text-sm opacity-60">
                        {{navigation}}
                        {{!-- <a aria-label="home" class="px-3 py-2" href="https://stroom.network/">
                            Home
                        </a>
                        <a aria-label="guides & faq" class="px-3 py-2" href="https://stroom.network/#faq">
                            Guides & FAQ
                        </a>
                        <a aria-label="blog" class="px-3 py-2 !opacity-100" href="https://blog.stroom.network/">
                            Blog
                        </a> --}}
                    </div>
                    <div class="flex justify-end flex-1 gap-4 text-2xl">
                        <a aria-label="twitter" href="https://twitter.com/StroomNetwork" target="_blank">
                        <svg class="icon opacity-60">
                            {{> "icons/x"}}
                        </svg>
                        </a>
                        <a aria-label="telegram" href="https://t.me/stroomnetwork" target="_blank">
                            <svg class="icon">
                                {{> "icons/telegram"}}
                            </svg>
                        </a>
                        <a aria-label="discord" href="https://discord.gg/ZrEBAk94RS" target="_blank">
                            <svg class="opacity-40 icon">
                                {{> "icons/discord"}}
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            {{!-- <div class="bg-[#1F1D19] py-6">
                <p class="text-sm text-center opacity-40">Khudolii Yevhenii. All right reserved. © 2023</p>
            </div> --}}
        </footer>
    </div>

{{!-- {{#is "post, page"}}
    {{> "pswp"}}
{{/is}} --}}

{{!-- <script src="{{asset "built/main.min.js"}}"></script> --}}

{{!-- {{ghost_foot}} --}}

</body>
<script>
    let isOpen = false
    const menu = document.querySelectorAll(".menu")
    const open = document.querySelector(".open")
    const close = document.querySelector(".close")
    menu.forEach(element => {
        element.addEventListener("click", () => {
            document.querySelector(".open-menu").style.display = isOpen ? "none" : "flex"
            close.style.display = isOpen ?  "none" : "block"
            open.style.display =  isOpen ? "block" : "none"
            isOpen = !isOpen
            if (isOpen) {
                document.body.style.height = "100%"
                document.body.style.overflow = "hidden"
            } else {
                document.body.style.height = "100%"
                document.body.style.overflow = "scroll"
            }
        })
    })
</script>
{{ghost_foot}}
</html>