{{!< default}}

<div
  class="py-10 [&_h2]:font-semibold [&_h2]:text-[64px] [&_h2]:leading-[72px] [&_h5]:font-bold [&_h5]:text-[30px] [&_h5]:leading-[36px] [&_h3]:font-semibold [&_h3]:text-[48px] [&_h3]:leading-[56px] [&_h6]:font-semibold [&_h6]:text-[24px] [&_h6]:leading-[32px] font-normal text-[20px] leading-[28px] [&_p]:text-white [&_p]:text-opacity-60 [&_h4]:font-bold [&_h4]:text-[36px] [&_h4]:leading-[44px]"
>
  <img
    class="w-full max-w-[1200px] mx-auto object-cover object-[0px_-400px] h-[400px] md:rounded-[45px]"
    width="1200"
    height="720"
    src="{{asset "images/first/1.jpg"}}"
  />
  <div class="container max-w-[1070px] mt-20 flex flex-col gap-20">
    <div class="flex flex-col gap-5">
      <h3>
        Non-Custodial Staking
      </h3>
      <p>
        Dive into the forefront of decentralised money where users have complete control, and their possessions are protected without giving up
							custody.
      </p>
    </div>

    <div class="flex flex-col gap-10">
      <div>
        <p>
          <span class="text-xl font-semibold text-white">
            Non-Custodial
          </span>
          solution is a financial revolt - not just a product.
        </p>
      </div>
      <div class="flex flex-col gap-6">
        <h5>
          What is Non-Custodial Staking
        </h5>
        <p>
          It is a new era of asset management inside the blockchain ecosystem by bringing a decentralized method to asset management.
								Non-custodial staking, as opposed to standard custodial staking, which requires users to give up custody of assets to a third party,
								allows people to stake their holdings while maintaining full control & ownership.
        </p>
      </div>
      <div class="flex flex-col gap-6">
        <h5>
          Differentiation between non-custodial and custodial staking
        </h5>
        <p>
          The fundamental distinction is who owns the assets. Under custodial custody, third-party organizations manage and secure your assets
								on your behalf. This instils dependence and trust in the caregiver. Non-custodial staking, on the other hand, ensures that users
								retain complete control over their private keys, leading to a more decentralized and trustless system in which users are masters of
								their financial fates.
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-10">
      <div>
        <h4>
          Ownership of Private Keys:
        </h4>
      </div>
      <div class="flex flex-col justify-between gap-12 md:flex-row">
        <div class="flex-1">
          <img
            class="w-full object-cover object-center h-[360px] rounded-3xl"
            width="476"
            height="360"
            src="{{asset "images/first/2.jpg"}}"
          />
        </div>
        <div class="flex flex-col justify-center flex-1 gap-5">
          <h5>
            Custodial:
          </h5>
          <p class="font-normal text-[16px] leading-[24px]">
            Custodial involves users giving over control of their private keys to a third-party custodian. This centralized institution becomes
									the custodian of the user's funds, holding the cryptographic keys required for blockchain transaction validation. While this may
									make user engagement easier, it also presents a single point of failure and a possible security vulnerability.
          </p>
        </div>
      </div>
      <div class="flex flex-col justify-between gap-12 md:flex-row-reverse">
        <div class="flex-1">
          <img
            class="w-full object-cover object-center h-[360px] rounded-3xl"
            width="476"
            height="360"
            src="{{asset "images/first/3.jpg"}}"
          />
        </div>
        <div class="flex flex-col justify-center flex-1 gap-5">
          <h5>
            Non-Custodial:
          </h5>
          <p class="font-normal text-[16px] leading-[24px]">
            Non-custodial, on the other hand, conforms to the concepts of decentralization by guaranteeing users retain sole ownership over
									their private keys. Private keys, which are cryptographic instruments that allow access and control over one's assets, are kept
									securely in the hands of the asset owner. This technological distinction strengthens non-custodial staking's security stance,
									lowering the dangers associated with centralized control.
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-10">
      <div>
        <h4>
          Programmability & Smart Contracts:
        </h4>
      </div>
      <div class="flex flex-col justify-between gap-12 md:flex-row">
        <div class="flex-1">
          <img
            class="w-full object-cover object-center h-[360px] rounded-3xl"
            width="476"
            height="360"
            src="{{asset "images/first/4.jpg"}}"
          />
        </div>
        <div class="flex flex-col justify-center flex-1 gap-5">
          <h5>
            Custodial:
          </h5>
          <p class="font-normal text-[16px] leading-[24px]">
            Custodial, which is usually centered on exchanges or service providers, is reliant on proprietary systems and backend procedures.
									These entities conduct staking activities using traditional databases and may lack the transparency that decentralized protocols
									provide. In terms of programmability, the execution of associated functionality may be constrained.
          </p>
        </div>
      </div>
      <div class="flex flex-col justify-between gap-12 md:flex-row-reverse">
        <div class="flex-1">
          <img
            class="w-full object-cover object-center h-[360px] rounded-3xl"
            width="476"
            height="360"
            src="{{asset "images/first/5.jpg"}}"
          />
        </div>
        <div class="flex flex-col justify-center flex-1 gap-5">
          <h5>
            Non-Custodial:
          </h5>
          <p class="font-normal text-[16px] leading-[24px]">
            Non-custodial takes use of the programmability inherent in smart contracts, particularly those available through blockchain
									platforms like Ethereum. Smart contracts let users participate in complex activities such as dynamically modifying staking settings,
									executing conditional transactions, and smoothly engaging in decentralized finance (DeFi) ecosystems. This programmability gives a
									new degree of freedom and customisation.
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-10">
      <div>
        <h4>
          Operational Flexibility:
        </h4>
      </div>
      <div class="flex flex-col justify-between gap-12 md:flex-row">
        <div class="flex-1">
          <img
            class="w-full object-cover object-center h-[360px] rounded-3xl"
            width="476"
            height="360"
            src="{{asset "images/first/6.jpg"}}"
          />
        </div>
        <div class="flex flex-col justify-center flex-1 gap-5">
          <h5>
            Custodial:
          </h5>
          <p class="font-normal text-[16px] leading-[24px]">
            Operational decisions, such as changes to staking parameters or withdrawal processes, are frequently subject to the custodian's
									regulations and timeframes. Users desiring real-time control over their staked assets may be restricted by this lack of operational
									autonomy.
          </p>
        </div>
      </div>
      <div class="flex flex-col justify-between gap-12 md:flex-row-reverse">
        <div class="flex-1">
          <img
            class="w-full object-cover object-center h-[360px] rounded-3xl"
            width="476"
            height="360"
            src="{{asset "images/first/7.jpg"}}"
          />
        </div>
        <div class="flex flex-col justify-center flex-1 gap-5">
          <h5>
            Non-Custodial:
          </h5>
          <p class="font-normal text-[16px] leading-[24px]">
            It allows users to operate with unprecedented operational flexibility. Users can stake, unstake, or transfer their assets at any
									moment without requiring permission from outside parties. This autonomy is consistent with the key ideas of blockchain, which enable
									people to make decisions according to code and consensus.
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-10">
      <h4>
        Advantages of Non-Custodial Staking
      </h4>
      <div class="grid grid-cols-1 gap-10 md:grid-cols-3">
        <div class="flex flex-col gap-3">
          <img
            class="w-full h-[200px] object-cover rounded-3xl"
            src="{{asset "images/first/8.jpg"}}"
            width="306"
            height="200"
          />
          <p class="text-xl !text-opacity-100 font-semibold">
            Security:
          </p>
          <p class="font-normal text-[18px] leading-[26px]">
            By preserving control of private keys, non-custodial staking reduces the risk associated with centric custody. This enhanced
									security aligns with the principles of blockchain tech.
          </p>
        </div>
        <div class="flex flex-col gap-3">
          <img
            class="w-full h-[200px] object-cover rounded-3xl"
            src="{{asset "images/first/9.jpg"}}"
            width="306"
            height="200"
          />
          <p class="text-xl !text-opacity-100 font-semibold">
            Control:
          </p>
          <p class="font-normal text-[18px] leading-[26px]">
            Non-custodial staking enables users to manage assets independently. This means users have complete control over their financial
									decisions since they can utilise assets at any time.
          </p>
        </div>
        <div class="flex flex-col gap-3">
          <img
            class="w-full h-[200px] object-cover rounded-3xl"
            src="{{asset "images/first/10.jpg"}}"
            width="306"
            height="200"
          />
          <p class="text-xl !text-opacity-100 font-semibold">
            Decentralization and Trustlessness:
          </p>
          <p class="font-normal text-[18px] leading-[26px]">
            Non-custodial staking emphasizes blockchain's decentralized nature. It removes the need for trust in third-party custodians,
									allowing for a trustless economy in which transactions are executed only through code and consensus.
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-6">
      <h4>
        Our Non-Custodial Staking Services
      </h4>
      <p>
        Our services at Stroom are designed to offer you a safe and intuitive platform for staking assets. We provide a streamlined experience
							that sets an elevated value on transparency, security, and control over the assets.
      </p>
    </div>

    <div class="flex flex-col gap-6">
      <h4>
        Why Choose Stroom for Non-Custodial Staking
      </h4>
      <div class="flex flex-col gap-10 py-5 max-w-[768px]">
        <div class="flex gap-5">
          <div
            class="w-[60px] h-[60px] flex items-center justify-center rounded-[20px] bg-gradient-to-r from-[#FFCF24] to-[#12CCE5]"
          >
            <div
              class="bg-[#1F2228] w-[58px] h-[58px] flex justify-center items-center flex-1 rounded-[20px] m-px"
            >
              <h5 class="text-[#FFCF24]">
                1
              </h5>
            </div>
          </div>
          <div class="flex flex-col gap-[10px]">
            <h6>
              Security first:
            </h6>
            <p class="text-[14px] leading-[20px]">
              User investments are entitled to the highest level of protection. With Non-Custodial Staking, your funds are safe. We focus on
										asset security, eliminating the need to rely on third-party custodians. You may rest peacefully knowing that your investments are
										protected.
            </p>
          </div>
        </div>
        <div class="flex gap-5">
          <div
            class="w-[60px] h-[60px] flex items-center justify-center rounded-[20px] bg-gradient-to-r from-[#FFCF24] to-[#12CCE5]"
          >
            <div
              class="bg-[#1F2228] w-[58px] h-[58px] flex justify-center items-center flex-1 rounded-[20px] m-px"
            >
              <h5 class="text-[#FFCF24]">
                2
              </h5>
            </div>
          </div>
          <div class="flex flex-col gap-[10px]">
            <h6>
              Complete Control:
            </h6>
            <p class="text-[14px] leading-[20px]">
              Users hold the power. You have complete control over your assets using Non-Custodial Staking. No external permissions are required
										to stake, unstake, or transfer your interests whenever it is convenient for you. Our platform guarantees that your financial
										decisions are yours alone.
            </p>
          </div>
        </div>
        <div class="flex gap-5">
          <div
            class="w-[60px] h-[60px] flex items-center justify-center rounded-[20px] bg-gradient-to-r from-[#FFCF24] to-[#12CCE5]"
          >
            <div
              class="bg-[#1F2228] w-[58px] h-[58px] flex justify-center items-center flex-1 rounded-[20px] m-px"
            >
              <h5 class="text-[#FFCF24]">
                3
              </h5>
            </div>
          </div>
          <div class="flex flex-col gap-[10px]">
            <h6>
              Maximise Returns:
            </h6>
            <p class="text-[14px] leading-[20px]">
              Get rid of the intermediaries and ensure that your rewards are sent directly to you. Non-Custodial Staking is meant to provide you
										with a straightforward and transparent approach to increasing your revenue. Enjoy the full benefits of your investments without
										the need for unnecessary intermediaries to cut your profits.
            </p>
          </div>
        </div>
        <div class="flex gap-5">
          <div
            class="w-[60px] h-[60px] flex items-center justify-center rounded-[20px] bg-gradient-to-r from-[#FFCF24] to-[#12CCE5]"
          >
            <div
              class="bg-[#1F2228] w-[58px] h-[58px] flex justify-center items-center flex-1 rounded-[20px] m-px"
            >
              <h5 class="text-[#FFCF24]">
                4
              </h5>
            </div>
          </div>
          <div class="flex flex-col gap-[10px]">
            <h6>
              User-Friendly Interface:
            </h6>
            <p class="text-[14px] leading-[20px]">
              Staking should be basic and easy to utilise. Our site features a user-friendly style that has been deliberately developed to
										appeal to both seasoned crypto professionals and newcomers. Navigate with ease while maintaining your holdings.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-6">
      <h4>
        How to Get Started with Our Services
      </h4>
      <p>
        Stroom Non-Custodial Staking is simple, create an account, link your wallet securely & start utilising it. Our easy-to-use interface
							walks through the steps, assuring a pleasant onboarding experience.
      </p>
    </div>

    <div class="flex flex-col justify-between gap-10 md:flex-row">
      <h4 class="md:max-w-[320px]">
        Frequently Asked Question
      </h4>
      <div class="flex flex-col w-full gap-2 md:max-w-[640px]">
        <div>
          <input type="checkbox" name="faq" id="faq_1" class="sr-only peer" />
          <label
            for="faq_1"
            class="p-4 peer-checked:bg-[#1B1B18] cursor-pointer flex flex-col gap-2  border rounded-2xl border-white border-opacity-20 [&_.content]:hidden peer-checked:[&_.content]:block [&_.add]:block [&_.minus]:hidden peer-checked:[&_.add]:hidden peer-checked:[&_.minus]:block"
          >
            <div class="flex justify-between gap-2">
              <p class="!text-opacity-100 font-medium">
                Is my investment safe when staking with Stroom?
              </p>
              <img
                class="add"
                src="{{asset "images/first/add.svg"}}"
                width="20"
                height="20"
              />
              <img
                class="minus"
                src="{{asset "images/first/minus.svg"}}"
                width="20"
                height="20"
              />
            </div>
            <p class="text-sm content">
              Of course, non-custodial staking emphasizes security by enabling users to keep custody of their private keys. This guarantees that
										assets stay under the sole control of a user.
            </p>
          </label>
        </div>
        <div class="w-full">
          <input type="checkbox" name="faq" id="faq_2" class="sr-only peer" />
          <label
            for="faq_2"
            class="p-4 peer-checked:bg-[#1B1B18] cursor-pointer flex flex-col gap-2  border rounded-2xl border-white border-opacity-20 [&_.content]:hidden peer-checked:[&_.content]:block [&_.add]:block [&_.minus]:hidden peer-checked:[&_.add]:hidden peer-checked:[&_.minus]:block"
          >
            <div class="flex justify-between gap-2">
              <p class="!text-opacity-100 font-medium">
                Can I withdraw my staked assets at any time?
              </p>
              <img
                class="add"
                src="{{asset "images/first/add.svg"}}"
                width="20"
                height="20"
              />
              <img
                class="minus"
                src="{{asset "images/first/minus.svg"}}"
                width="20"
                height="20"
              />
            </div>
            <p class="text-sm content">
              Indeed, one of the primary benefits is the flexibility. Users have total control over their financial decisions since they may
										withdraw, stake, or transfer assets at any moment.
            </p>
          </label>
        </div>
        <div class="w-full">
          <input type="checkbox" name="faq" id="faq_3" class="sr-only peer" />
          <label
            for="faq_3"
            class="p-4 peer-checked:bg-[#1B1B18] cursor-pointer flex flex-col gap-2  border rounded-2xl border-white border-opacity-20 [&_.content]:hidden peer-checked:[&_.content]:block [&_.add]:block [&_.minus]:hidden peer-checked:[&_.add]:hidden peer-checked:[&_.minus]:block"
          >
            <div class="flex justify-between gap-2">
              <p class="!text-opacity-100 font-medium">
                Are there any fees associated with staking on the platform?
              </p>
              <img
                class="add"
                src="{{asset "images/first/add.svg"}}"
                width="20"
                height="20"
              />
              <img
                class="minus"
                src="{{asset "images/first/minus.svg"}}"
                width="20"
                height="20"
              />
            </div>
            <p class="text-sm content">
              Yes, our fee structure is straightforward, so you know exactly what you're paying for when utilising our services.
            </p>
          </label>
        </div>
        <div class="w-full">
          <input type="checkbox" name="faq" id="faq_4" class="sr-only peer" />
          <label
            for="faq_4"
            class="p-4 peer-checked:bg-[#1B1B18] cursor-pointer flex flex-col gap-2  border rounded-2xl border-white border-opacity-20 [&_.content]:hidden peer-checked:[&_.content]:block [&_.add]:block [&_.minus]:hidden peer-checked:[&_.add]:hidden peer-checked:[&_.minus]:block"
          >
            <div class="flex justify-between gap-2">
              <p class="!text-opacity-100 font-medium">
                What cryptocurrencies can I stake non-custodial?
              </p>
              <img
                class="add"
                src="{{asset "images/first/add.svg"}}"
                width="20"
                height="20"
              />
              <img
                class="minus"
                src="{{asset "images/first/minus.svg"}}"
                width="20"
                height="20"
              />
            </div>
            <p class="text-sm content">
              Stroom accepts Bitcoin for non-custodial staking. Our platform supports this popular asset, and we are always evaluating and
										integrating additional possibilities to diversify your portfolio.
            </p>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.title = "FAQ | Non-Custodial Staking";
</script>